In [151]:
# Import dependencies

import scipy.stats as st
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('max_colwidth', 400)
from pymongo import MongoClient
from pprint import pprint
import json

Import the data provided in the `2021.json` file from your Terminal. Name the database `covid_2021` and the collection `nations`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with mongoimport --type json -d covid_2021 -c nations --drop --jsonArray 2021.json

In [152]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'covid_2021', 'covid_2022', 'covid_2023', 'local', 'met', 'uk_food']

In [153]:
# assign the covid database to a variable name
db = mongo['covid_2021']

In [154]:
# assign the collection to a variable
nations = db['nations']

In [155]:
query = {'Country_Region': 'US'}
results = nations.find(query)
sort = [("Province_State", 1)]
limit = 5
results = list(nations.find(query).sort(sort).limit(limit))

pprint(results)

[{'Active': 1808,
  'Admin2': 'Bibb',
  'Case_Fatality_Ratio': 2.481121898597627,
  'Combined_Key': 'Bibb, Alabama, US',
  'Confirmed': 1854,
  'Country_Region': 'US',
  'Deaths': 46,
  'FIPS': 1007,
  'Incident_Rate': '8279.003304456552',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 32.99642064,
  'Long_': -87.12511459999997,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb84')},
 {'Active': 866,
  'Admin2': 'Bullock',
  'Case_Fatality_Ratio': 2.4774774774774775,
  'Combined_Key': 'Bullock, Alabama, US',
  'Confirmed': 888,
  'Country_Region': 'US',
  'Deaths': 22,
  'FIPS': 1011,
  'Incident_Rate': '8791.208791208792',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 32.10030533,
  'Long_': -85.71265535,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb85')},
 {'Active': 4189,
  'Admin2': 'Autauga',
  'Case_Fatality_Ratio': 1.179523472517103,
  'Combined_Key': 'Autauga, Alabama, US',
  'Confirmed': 4239,
  'Country_Region': 'US',
  'Deaths': 50,
  'FIPS': 1001,
  'Incident_Rate': '7587.3919347043975',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 32.53952745,
  'Long_': -86.64408227,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb82')},
 {'Active': 13654,
  'Admin2': 'Baldwin',
  'Case_Fatality_Ratio': 1.2226000144686393,
  'Combined_Key': 'Baldwin, Alabama, US',
  'Confirmed': 13823,
  'Country_Region': 'US',
  'Deaths': 169,
  'FIPS': 1003,
  'Incident_Rate': '6192.157108684161',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 30.72774991,
  'Long_': -87.72207058,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb81')},
 {'Active': 4630,
  'Admin2': 'Blount',
  'Case_Fatality_Ratio': 1.3424248881312593,
  'Combined_Key': 'Blount, Alabama, US',
  'Confirmed': 4693,
  'Country_Region': 'US',
  'Deaths': 63,
  'FIPS': 1009,
  'Incident_Rate': '8115.72648981427',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 33.98210918,
  'Long_': -86.56790593,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb83')}]

In [156]:
output = []
results = nations.find(query)
for result in results:
    output.append(result)

usa_df = pd.DataFrame(output)
# Display the number of rows in the DataFrame
usa_df.drop(columns= ['Recovered','Active'], inplace=True)# Display the first 10 rows of the DataFrame
usa_df.dropna(axis=0, inplace=True)
print("Rows in DataFrame: ", len(usa_df))
usa_df.head()

Rows in DataFrame:  3115

,_id,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Region
0,64a1c449fa9bae443655fb81,1003.0,Baldwin,Alabama,US,2021-01-02 05:22:33,30.727750,-87.722071,13823,169,"Baldwin, Alabama, US",6192.157108684161,1.222600,Southeast
1,64a1c449fa9bae443655fb82,1001.0,Autauga,Alabama,US,2021-01-02 05:22:33,32.539527,-86.644082,4239,50,"Autauga, Alabama, US",7587.3919347043975,1.179523,Southeast
2,64a1c449fa9bae443655fb83,1009.0,Blount,Alabama,US,2021-01-02 05:22:33,33.982109,-86.567906,4693,63,"Blount, Alabama, US",8115.72648981427,1.342425,Southeast
3,64a1c449fa9bae443655fb84,1007.0,Bibb,Alabama,US,2021-01-02 05:22:33,32.996421,-87.125115,1854,46,"Bibb, Alabama, US",8279.003304456552,2.481122,Southeast
4,64a1c449fa9bae443655fb85,1011.0,Bullock,Alabama,US,2021-01-02 05:22:33,32.100305,-85.712655,888,22,"Bullock, Alabama, US",8791.208791208792,2.477477,Southeast

In [157]:
usa_df['Region'].unique()

array(['Southeast', 'Pacific', 'Southwest', 'Rocky_Mountain', 'Northeast',
       'Midwest'], dtype=object)

In [158]:
northeast=usa_df.loc[usa_df['Region']=='Northeast',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
northeast.loc[northeast['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
1252,2021-01-02 05:22:33,Northeast,"Franklin, Massachusetts, US",42.581197,-72.586025,1278,65,7.198748
1253,2021-01-02 05:22:33,Northeast,"Hampshire, Massachusetts, US",42.339980,-72.658985,3832,158,5.167015
1876,2021-01-02 05:22:33,Northeast,"Bronx, New York, US",40.852093,-73.862828,86505,5140,5.941853
1889,2021-01-02 05:22:33,Northeast,"Kings, New York, US",40.636182,-73.949356,125467,7745,6.172938
1902,2021-01-02 05:22:33,Northeast,"New York, New York, US",40.767273,-73.971526,61676,3348,5.428368
1934,2021-01-02 05:22:33,Northeast,"Queens, New York, US",40.710881,-73.816847,127132,7578,5.960734

In [159]:
midwest=usa_df.loc[usa_df['Region']=='Midwest',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
midwest.loc[midwest['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
897,2021-01-02 05:22:33,Midwest,"Wayne, Iowa, US",40.739690,-93.327522,384,21,5.468750
938,2021-01-02 05:22:33,Midwest,"Gove, Kansas, US",38.915882,-100.482932,335,20,5.970149
1265,2021-01-02 05:22:33,Midwest,"Baraga, Michigan, US",46.672058,-88.363636,545,28,5.137615
1327,2021-01-02 05:22:33,Midwest,"Ontonagon, Michigan, US",46.665226,-89.313905,306,16,5.228758
1379,2021-01-02 05:22:33,Midwest,"Kittson, Minnesota, US",48.777541,-96.783172,341,18,5.278592
1728,2021-01-02 05:22:33,Midwest,"Grant, Nebraska, US",41.915286,-101.740701,23,3,13.043478
2520,2021-01-02 05:22:33,Midwest,"Jerauld, South Dakota, US",44.066378,-98.629660,259,15,5.791506
2524,2021-01-02 05:22:33,Midwest,"Hamlin, South Dakota, US",44.673860,-97.188296,606,34,5.610561
2528,2021-01-02 05:22:33,Midwest,"Gregory, South Dakota, US",43.194191,-99.188839,482,26,5.394191
2559,2021-01-02 05:22:33,Midwest,"Turner, South Dakota, US",43.310908,-97.148658,970,49,5.051546
3198,2021-01-02 05:22:33,Midwest,"Iron, Wisconsin, US",46.263023,-90.242950,527,33,6.261860

In [160]:
southwest=usa_df.loc[usa_df['Region']=='Southwest',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
southwest.loc[southwest['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
1839,2021-01-02 05:22:33,Southwest,"Catron, New Mexico, US",33.915141,-108.404659,58,3,5.172414
1865,2021-01-02 05:22:33,Southwest,"Sierra, New Mexico, US",33.130282,-107.192589,536,35,6.529851
2715,2021-01-02 05:22:33,Southwest,"Crosby, Texas, US",33.614316,-101.300036,649,20,5.698006
2724,2021-01-02 05:22:33,Southwest,"Dickens, Texas, US",33.616168,-100.778886,171,7,5.384615
2738,2021-01-02 05:22:33,Southwest,"Garza, Texas, US",33.179693,-101.298411,458,17,6.367041
2743,2021-01-02 05:22:33,Southwest,"Foard, Texas, US",33.973086,-99.776780,47,4,5.714286
2795,2021-01-02 05:22:33,Southwest,"Kenedy, Texas, US",26.926017,-97.664140,22,2,9.523810
2803,2021-01-02 05:22:33,Southwest,"Knox, Texas, US",33.605200,-99.742291,156,12,7.500000
2812,2021-01-02 05:22:33,Southwest,"Marion, Texas, US",32.798684,-94.356612,343,17,6.513410
2832,2021-01-02 05:22:33,Southwest,"Motley, Texas, US",34.074088,-100.779722,111,5,6.849315
2854,2021-01-02 05:22:33,Southwest,"Red River, Texas, US",33.618867,-95.048418,492,26,5.777778
2856,2021-01-02 05:22:33,Southwest,"Real, Texas, US",29.833215,-99.820181,225,11,5.314010
2869,2021-01-02 05:22:33,Southwest,"San Augustine, Texas, US",31.394576,-94.170004,345,24,5.073996
2871,2021-01-02 05:22:33,Southwest,"Sherman, Texas, US",36.277515,-101.893316,222,6,5.263158
2884,2021-01-02 05:22:33,Southwest,"Throckmorton, Texas, US",33.177514,-99.212268,52,3,5.555556

In [161]:
southeast=usa_df.loc[usa_df['Region']=='Southeast',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
southeast.loc[southeast['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
413,2021-01-02 05:22:33,Southeast,"Candler, Georgia, US",32.402093,-82.077026,690,37,5.362319
445,2021-01-02 05:22:33,Southeast,"Early, Georgia, US",31.321553,-84.902552,811,41,5.055487
467,2021-01-02 05:22:33,Southeast,"Hancock, Georgia, US",33.272157,-82.997669,680,48,7.058824
487,2021-01-02 05:22:33,Southeast,"Jenkins, Georgia, US",32.792487,-81.960402,567,34,5.996473
519,2021-01-02 05:22:33,Southeast,"Randolph, Georgia, US",31.766228,-84.757324,426,31,7.276995
534,2021-01-02 05:22:33,Southeast,"Terrell, Georgia, US",31.775275,-84.440697,576,35,6.076389
556,2021-01-02 05:22:33,Southeast,"Wilcox, Georgia, US",31.974969,-83.434386,591,35,5.922166
2984,2021-01-02 05:22:33,Southeast,"Emporia, Virginia, US",36.694556,-77.534061,416,30,7.211538
3036,2021-01-02 05:22:33,Southeast,"Northampton, Virginia, US",37.340629,-75.877516,452,31,6.858407

In [162]:
rockies=usa_df.loc[usa_df['Region']=='Rocky_Mountain',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
rockies.loc[rockies['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
261,2021-01-02 05:22:33,Rocky_Mountain,"Cheyenne, Colorado, US",38.827774,-102.603256,100,6,5.617978
288,2021-01-02 05:22:33,Rocky_Mountain,"Huerfano, Colorado, US",37.684731,-104.961258,280,16,6.521739
1664,2021-01-02 05:22:33,Rocky_Mountain,"Meagher, Montana, US",46.599071,-110.889856,111,7,6.306306
1669,2021-01-02 05:22:33,Rocky_Mountain,"Petroleum, Montana, US",47.118246,-108.250888,10,1,10.000000

In [163]:
pacific=usa_df.loc[usa_df['Region']=='Pacific',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
pacific.loc[pacific['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
2294,2021-01-02 05:22:33,Pacific,"Wheeler, Oregon, US",44.726982,-120.028143,17,1,5.882353

In [164]:
illinois=usa_df.loc[usa_df['Province_State']=='Illinois',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
illinois.loc[illinois['Case_Fatality_Ratio']>3]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
638,2021-01-02 05:22:33,Midwest,"Ford, Illinois, US",40.597069,-88.223508,1227,37,3.015485
652,2021-01-02 05:22:33,Midwest,"Hardin, Illinois, US",37.518106,-88.268730,217,7,3.225806
670,2021-01-02 05:22:33,Midwest,"Mason, Illinois, US",40.239173,-89.918245,1026,37,3.606238
698,2021-01-02 05:22:33,Midwest,"Stark, Illinois, US",41.093098,-89.797459,449,19,4.231626

In [165]:

states_group = usa_df.groupby(['Province_State'])
states=states_group.mean()
states_df = states[['Lat','Long_','Case_Fatality_Ratio']]
states_df

                      Lat       Long_  Case_Fatality_Ratio
Province_State
Alabama         32.884280  -86.710122             1.677660
Alaska          60.364992 -148.885879             0.520254
Arizona         33.675904 -111.463232             2.023737
Arkansas        34.911889  -92.433978             1.934855
California      37.843962 -120.728594             0.858557
Colorado        38.935474 -105.486240             1.464042
Connecticut     41.613680  -72.656830             2.864891
Delaware        39.109277  -75.533237             1.966124
Florida         28.940755  -82.700744             1.830048
Georgia         32.808532  -83.577430             2.306348
Hawaii          20.990647 -157.414456             1.359285
Idaho           44.263401 -114.460125             1.058697
Illinois        39.843618  -89.178330             1.629680
Indiana         39.837353  -86.218568             1.939809
Iowa            42.029910  -93.465519             1.762052
Kansas          38.485379  -98.084552             1.686681
Kentucky        37.622144  -85.199891             1.130954
Louisiana       31.092427  -91.824187             2.512488
Maine           44.687688  -69.523769             1.513191
Maryland        39.014921  -76.675468             2.052117
Massachusetts   42.240538  -71.651168             4.175800
Michigan        44.043620  -85.181696             2.315567
Minnesota       45.552013  -94.430953             1.317676
Mississippi     32.792727  -89.645726             2.508942
Missouri        38.451174  -92.481408             1.437129
Montana         46.974691 -109.700395             1.793949
Nebraska        41.321795  -99.039012             1.406889
Nevada          39.255997 -117.563994             1.317377
New Hampshire   43.478973  -71.577657             1.386967
New Jersey      40.286441  -74.622450             3.466742
New Mexico      34.549359 -105.887107             2.132151
New York        42.544151  -75.474183             2.250843
North Carolina  35.624210  -79.501099             1.515865
North Dakota    47.393507 -100.249393             1.890062
Ohio            40.310670  -82.835408             2.161018
Oklahoma        35.501914  -97.251400             0.941746
Oregon          44.492401 -121.476920             1.520640
Pennsylvania    40.818078  -77.615318             2.350075
Rhode Island    41.655142  -71.464105             1.925457
South Carolina  33.957472  -80.983400             2.185987
South Dakota    44.272695  -99.310636             2.049096
Tennessee       35.885102  -86.108723             1.438970
Texas           31.660643  -98.653069             2.377663
Utah            40.149585 -111.536720             0.623634
Vermont         44.159496  -72.684381             1.254577
Virginia        37.566150  -78.513712             1.663124
Washington      47.233786 -120.719220             1.249888
West Virginia   38.814254  -80.617455             1.430934
Wisconsin       44.395143  -89.797980             1.178797
Wyoming         43.086886 -107.153242             1.141455

In [166]:
states_group = usa_df.groupby(['Province_State'])
states = states_group.agg({'Region': 'first', 'Lat': 'mean', 'Long_': 'mean','Confirmed': 'sum', 'Deaths':'sum', 'Case_Fatality_Ratio': 'mean'})
states.rename(columns={'Long_': 'long'}, inplace=True)
states.rename(columns={'Lat': 'lat'}, inplace=True)
states.rename(columns={'Confirmed': 'total_confirmed'}, inplace=True)
states.rename(columns={'Deaths': 'total_deaths'}, inplace=True)
states.rename(columns={'Case_Fatality_Ratio': 'average_case_fatality_ratio'}, inplace=True)

states_df = states.reset_index()
states_df.rename(columns={'Province_State': 'State'}, inplace=True)
states_df = states_df.round(3)

states_df

,State,Region,lat,long,total_confirmed,total_deaths,average_case_fatality_ratio
0,Alabama,Southeast,32.884,-86.710,365747,4872,1.678
1,Alaska,Pacific,60.365,-148.886,46801,206,0.520
2,Arizona,Southwest,33.676,-111.463,530267,9015,2.024
3,Arkansas,Southeast,34.912,-92.434,226614,3711,1.935
4,California,Pacific,37.844,-120.729,2434974,26298,0.859
5,Colorado,Rocky_Mountain,38.935,-105.486,362408,5435,1.464
6,Connecticut,Northeast,41.614,-72.657,185043,5995,2.865
7,Delaware,Northeast,39.109,-75.533,57928,1065,1.966
8,Florida,Southeast,28.941,-82.701,1320305,21673,1.830
9,Georgia,Southeast,32.809,-83.577,649087,10604,2.306
10,Hawaii,Pacific,20.991,-157.414,21736,287,1.359
11,Idaho,Rocky_Mountain,44.263,-114.460,141076,1436,1.059
12,Illinois,Midwest,39.844,-89.178,963225,16490,1.630
13,Indiana,Midwest,39.837,-86.219,517773,9237,1.940
14,Iowa,Midwest,42.030,-93.466,282229,3898,1.762
15,Kansas,Midwest,38.485,-98.085,229822,2798,1.687
16,Kentucky,Southeast,37.622,-85.200,265261,2623,1.131
17,Louisiana,Southeast,31.092,-91.824,314876,7488,2.512
18,Maine,Northeast,44.688,-69.524,24879,352,1.513
19,Maryland,Northeast,39.015,-76.675,280219,5887,2.052
20,Massachusetts,Northeast,42.241,-71.651,357137,10517,4.176
21,Michigan,Midwest,44.044,-85.182,504844,12879,2.316
22,Minnesota,Midwest,45.552,-94.431,414858,5323,1.318
23,Mississippi,Southeast,32.793,-89.646,218386,4816,2.509
24,Missouri,Midwest,38.451,-92.481,377587,5393,1.437
25,Montana,Rocky_Mountain,46.975,-109.700,81555,961,1.794
26,Nebraska,Midwest,41.322,-99.039,166459,1663,1.407
27,Nevada,Rocky_Mountain,39.256,-117.564,227046,3143,1.317
28,New Hampshire,Northeast,43.479,-71.578,43145,759,1.387
29,New Jersey,Northeast,40.286,-74.622,533968,19160,3.467
30,New Mexico,Southwest,34.549,-105.887,140774,2502,2.132
31,New York,Northeast,42.544,-75.474,995784,37732,2.251
32,North Carolina,Southeast,35.624,-79.501,539463,6748,1.516
33,North Dakota,Midwest,47.394,-100.249,92215,1309,1.890
34,Ohio,Midwest,40.311,-82.835,700380,13766,2.161
35,Oklahoma,Southwest,35.502,-97.251,290700,2489,0.942
36,Oregon,Pacific,44.492,-121.477,113909,1477,1.521
37,Pennsylvania,Northeast,40.818,-77.615,657071,16245,2.350
38,Rhode Island,Northeast,41.655,-71.464,78327,1725,1.925
39,South Carolina,Southeast,33.957,-80.983,307507,5296,2.186
40,South Dakota,Midwest,44.273,-99.311,99164,1488,2.049
41,Tennessee,Southeast,35.885,-86.109,572196,6803,1.439
42,Texas,Southwest,31.661,-98.653,1809085,28416,2.378
43,Utah,Rocky_Mountain,40.150,-111.537,212017,919,0.624
44,Vermont,Northeast,44.159,-72.684,7403,136,1.255
45,Virginia,Southeast,37.566,-78.514,354766,5081,1.663
46,Washington,Pacific,47.234,-120.719,245263,3456,1.250
47,West Virginia,Southeast,38.814,-80.617,87820,1361,1.431
48,Wisconsin,Midwest,44.395,-89.798,522523,5254,1.179
49,Wyoming,Rocky_Mountain,43.087,-107.153,44409,438,1.141

In [167]:
# Assuming result_df is a pandas DataFrame
results = states_df.to_dict(orient='records')

# Convert results to JSON string
results_json = json.dumps(results, indent=4)

# Define the output file path
output_file_path = 'Improved/improved_2021.json'

# Write the JSON string to the output file
with open(output_file_path, 'w') as output_file:
    output_file.write(results_json)