In [82]:
# Import dependencies

import scipy.stats as st
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('max_colwidth', 400)
from pymongo import MongoClient
from pprint import pprint
import json

Import the data provided in the `2022.json` file from your Terminal. Name the database `covid_2022` and the collection `nations`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with mongoimport --type json -d covid_2022 -c nations --drop --jsonArray 2022.json

In [83]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'covid_2021', 'covid_2022', 'covid_2023', 'local', 'met', 'uk_food']

In [84]:
# assign the covid database to a variable name
db = mongo['covid_2022']

In [85]:
# assign the collection to a variable
nations = db['nations']

In [86]:
query = {'Country_Region': 'US'}
results = nations.find(query)
sort = [("Province_State", 1)]
limit = 5
results = list(nations.find(query).sort(sort).limit(limit))

pprint(results)

[{'Active': None,
  'Admin2': 'Bibb',
  'Case_Fatality_Ratio': 2.0957423339951466,
  'Combined_Key': 'Bibb, Alabama, US',
  'Confirmed': 4533,
  'Country_Region': 'US',
  'Deaths': 95,
  'FIPS': 1007,
  'Incident_Rate': '20242.029114941502',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 32.99642064,
  'Long_': -87.12511459999996,
  'Province_State': 'Alabama',
  'Recovered': None,
  'Region': 'Southeast',
  '_id': ObjectId('64a206c68c92db14e7753f52')},
 {'Active': None,
  'Admin2': 'Blount',
  'Case_Fatality_Ratio': 1.7590618336886994,
  'Combined_Key': 'Blount, Alabama, US',
  'Confirmed': 11256,
  'Country_Region': 'US',
  'Deaths': 198,
  'FIPS': 1009,
  'Incident_Rate': '19465.292429011173',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 33.98210918,
  'Long_': -86.56790593,
  'Province_State': 'Alabama',
  'Recovered': None,
  'Region': 'Southeast',
  '_id': ObjectId('64a206c68c92db14e7753f53')},
 {'Active': None,
  'Admin2': 'Autauga',
  'Case_Fatality_Ratio': 1.4521691777092032,
  'Combined_Key': 'Autauga, Alabama, US',
  'Confirmed': 11018,
  'Country_Region': 'US',
  'Deaths': 160,
  'FIPS': 1001,
  'Incident_Rate': '19721.13336555156',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 32.53952745,
  'Long_': -86.64408227,
  'Province_State': 'Alabama',
  'Recovered': None,
  'Region': 'Southeast',
  '_id': ObjectId('64a206c68c92db14e7753f50')},
 {'Active': None,
  'Admin2': 'Baldwin',
  'Case_Fatality_Ratio': 1.4858059181679237,
  'Combined_Key': 'Baldwin, Alabama, US',
  'Confirmed': 39911,
  'Country_Region': 'US',
  'Deaths': 593,
  'FIPS': 1003,
  'Incident_Rate': '17878.548966555274',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 30.72774991,
  'Long_': -87.72207058,
  'Province_State': 'Alabama',
  'Recovered': None,
  'Region': 'Southeast',
  '_id': ObjectId('64a206c68c92db14e7753f4f')},
 {'Active': None,
  'Admin2': 'Barbour',
  'Case_Fatality_Ratio': 2.098445595854922,
  'Combined_Key': 'Barbour, Alabama, US',
  'Confirmed': 3860,
  'Country_Region': 'US',
  'Deaths': 81,
  'FIPS': 1005,
  'Incident_Rate': '15636.393097302114',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 31.868263,
  'Long_': -85.3871286,
  'Province_State': 'Alabama',
  'Recovered': None,
  'Region': 'Southeast',
  '_id': ObjectId('64a206c68c92db14e7753f51')}]

In [87]:
output = []
results = nations.find(query)
for result in results:
    output.append(result)

usa_df = pd.DataFrame(output)
# Display the number of rows in the DataFrame
usa_df.drop(columns= ['Recovered','Active'], inplace=True)# Display the first 10 rows of the DataFrame
usa_df.dropna(axis=0, inplace=True)
print("Rows in DataFrame: ", len(usa_df))
usa_df.head()

Rows in DataFrame:  3115

,_id,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Region
0,64a206c68c92db14e7753f4f,1003.0,Baldwin,Alabama,US,2022-01-02 04:20:52,30.727750,-87.722071,39911,593,"Baldwin, Alabama, US",17878.548966555274,1.485806,Southeast
1,64a206c68c92db14e7753f50,1001.0,Autauga,Alabama,US,2022-01-02 04:20:52,32.539527,-86.644082,11018,160,"Autauga, Alabama, US",19721.13336555156,1.452169,Southeast
2,64a206c68c92db14e7753f51,1005.0,Barbour,Alabama,US,2022-01-02 04:20:52,31.868263,-85.387129,3860,81,"Barbour, Alabama, US",15636.393097302114,2.098446,Southeast
3,64a206c68c92db14e7753f52,1007.0,Bibb,Alabama,US,2022-01-02 04:20:52,32.996421,-87.125115,4533,95,"Bibb, Alabama, US",20242.029114941502,2.095742,Southeast
4,64a206c68c92db14e7753f53,1009.0,Blount,Alabama,US,2022-01-02 04:20:52,33.982109,-86.567906,11256,198,"Blount, Alabama, US",19465.292429011173,1.759062,Southeast

In [88]:
print(usa_df.isnull().sum())

_id                    0
FIPS                   0
Admin2                 0
Province_State         0
Country_Region         0
Last_Update            0
Lat                    0
Long_                  0
Confirmed              0
Deaths                 0
Combined_Key           0
Incident_Rate          0
Case_Fatality_Ratio    0
Region                 0
dtype: int64

In [89]:
northeast=usa_df.loc[usa_df['Region']=='Northeast',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
northeast.loc[northeast['Case_Fatality_Ratio']>5]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [90]:
midwest=usa_df.loc[usa_df['Region']=='Midwest',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
midwest.loc[midwest['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
2536,2022-01-02 04:20:52,Midwest,"Jerauld, South Dakota, US",44.066378,-98.62966,337,19,5.637982

In [91]:
southwest=usa_df.loc[usa_df['Region']=='Southwest',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
southwest.loc[southwest['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
1851,2022-01-02 04:20:52,Southwest,"Harding, New Mexico, US",35.857516,-103.822094,58,4,6.896552
2727,2022-01-02 04:20:52,Southwest,"Dickens, Texas, US",33.616168,-100.778886,324,15,5.357143
2742,2022-01-02 04:20:52,Southwest,"Foard, Texas, US",33.973086,-99.776780,169,10,5.291005
2770,2022-01-02 04:20:52,Southwest,"Haskell, Texas, US",33.178236,-99.730374,686,37,5.393586
2801,2022-01-02 04:20:52,Southwest,"Knox, Texas, US",33.605200,-99.742291,387,22,5.641026
2826,2022-01-02 04:20:52,Southwest,"McMullen, Texas, US",28.352517,-98.567692,124,8,6.722689
2841,2022-01-02 04:20:52,Southwest,"Newton, Texas, US",30.785490,-93.744088,923,54,5.471125
2867,2022-01-02 04:20:52,Southwest,"Sabine, Texas, US",31.343188,-93.854405,1006,77,7.809331
2876,2022-01-02 04:20:52,Southwest,"Sherman, Texas, US",36.277515,-101.893316,426,16,5.031447

In [92]:
southeast=usa_df.loc[usa_df['Region']=='Southeast',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
southeast.loc[southeast['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
420,2022-01-02 04:20:52,Southeast,"Candler, Georgia, US",32.402093,-82.077026,1610,90,5.590062
466,2022-01-02 04:20:52,Southeast,"Hancock, Georgia, US",33.272157,-82.997669,1259,83,6.592534
484,2022-01-02 04:20:52,Southeast,"Jenkins, Georgia, US",32.792487,-81.960402,1207,63,5.219553
545,2022-01-02 04:20:52,Southeast,"Twiggs, Georgia, US",32.674356,-83.430787,1181,62,5.249788
2993,2022-01-02 04:20:52,Southeast,"Emporia, Virginia, US",36.694556,-77.534061,887,46,5.186020

In [93]:
rockies=usa_df.loc[usa_df['Region']=='Rocky_Mountain',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
rockies.loc[rockies['Case_Fatality_Ratio']>5]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [94]:
pacific=usa_df.loc[usa_df['Region']=='Pacific',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
pacific.loc[pacific['Case_Fatality_Ratio']>5]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [95]:
illinois=usa_df.loc[usa_df['Province_State']=='Illinois',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
illinois.loc[illinois['Case_Fatality_Ratio']>3]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [96]:

states_group = usa_df.groupby(['Province_State'])
states=states_group.mean()
states_df = states[['Lat','Long_','Case_Fatality_Ratio']]
states_df

                      Lat       Long_  Case_Fatality_Ratio
Province_State
Alabama         32.884280  -86.710122             2.213118
Alaska          60.364992 -148.885879             0.537822
Arizona         33.675904 -111.463232             2.242867
Arkansas        34.911889  -92.433978             1.982815
California      37.843962 -120.728594             1.133952
Colorado        38.935474 -105.486240             1.373165
Connecticut     41.613680  -72.656830             1.715213
Delaware        39.109277  -75.533237             1.344186
Florida         28.940755  -82.700744             1.088041
Georgia         32.808532  -83.577430             2.479392
Hawaii          20.990647 -157.414456             0.853183
Idaho           44.263401 -114.460125             1.575874
Illinois        39.843618  -89.178330             1.342891
Indiana         39.837353  -86.218568             1.606078
Iowa            42.029910  -93.465519             1.766915
Kansas          38.485379  -98.084552             1.691783
Kentucky        37.622144  -85.199891             1.668060
Louisiana       31.092427  -91.824187             2.035549
Maine           44.687688  -69.523769             1.046595
Maryland        39.014921  -76.675468             1.754182
Massachusetts   42.240538  -71.651168             2.064929
Michigan        44.043620  -85.181696             1.865496
Minnesota       45.552013  -94.430953             1.130137
Mississippi     32.792727  -89.645726             2.218659
Missouri        38.451174  -92.481408             1.915562
Montana         46.974691 -109.700395             2.039084
Nebraska        41.321795  -99.039012             0.883753
Nevada          39.255997 -117.563994             1.918767
New Hampshire   43.478973  -71.577657             0.975071
New Jersey      40.286441  -74.622450             1.760441
New Mexico      34.549359 -105.887107             2.172968
New York        42.544151  -75.474183             1.292696
North Carolina  35.624210  -79.501099             1.412989
North Dakota    47.393507 -100.249393             1.588716
Ohio            40.310670  -82.835408             1.701523
Oklahoma        35.501914  -97.251400             1.843856
Oregon          44.492401 -121.476920             1.548970
Pennsylvania    40.818078  -77.615318             1.988507
Rhode Island    41.655142  -71.464105             1.319024
South Carolina  33.957472  -80.983400             1.857567
South Dakota    44.272695  -99.310636             1.988248
Tennessee       35.885102  -86.108723             1.776630
Texas           31.660643  -98.653069             2.483075
Utah            40.149585 -111.536720             0.616458
Vermont         44.159496  -72.684381             0.654921
Virginia        37.566150  -78.513712             1.794226
Washington      47.233786 -120.719220             1.344561
West Virginia   38.814254  -80.617455             1.655393
Wisconsin       44.395143  -89.797980             1.170459
Wyoming         43.086886 -107.153242             1.453349

In [97]:
states_group = usa_df.groupby(['Province_State'])
states = states_group.agg({'Region': 'first', 'Lat': 'mean', 'Long_': 'mean','Confirmed': 'sum', 'Deaths':'sum', 'Case_Fatality_Ratio': 'mean'})
states.rename(columns={'Long_': 'long'}, inplace=True)
states.rename(columns={'Lat	': 'lat'}, inplace=True)
states.rename(columns={'Confirmed': 'total_confirmed'}, inplace=True)
states.rename(columns={'Deaths': 'total_deaths'}, inplace=True)
states.rename(columns={'Case_Fatality_Ratio': 'average_case_fatality_ratio'}, inplace=True)

states_df = states.reset_index()
states_df.rename(columns={'Province_State': 'State'}, inplace=True)
states_df = states_df.round(3)

states_df

,State,Region,Lat,long,total_confirmed,total_deaths,average_case_fatality_ratio
0,Alabama,Southeast,32.884,-86.710,896614,16455,2.213
1,Alaska,Pacific,60.365,-148.886,156628,977,0.538
2,Arizona,Southwest,33.676,-111.463,1389707,24354,2.243
3,Arkansas,Southeast,34.912,-92.434,563362,9180,1.983
4,California,Pacific,37.844,-120.729,5518585,76440,1.134
5,Colorado,Rocky_Mountain,38.935,-105.486,1004594,10815,1.373
6,Connecticut,Northeast,41.614,-72.657,508308,9158,1.715
7,Delaware,Northeast,39.109,-75.533,183164,2286,1.344
8,Florida,Southeast,28.941,-82.701,4206962,36973,1.088
9,Georgia,Southeast,32.809,-83.577,1786311,30276,2.479
10,Hawaii,Pacific,20.991,-157.414,112283,1083,0.853
11,Idaho,Rocky_Mountain,44.263,-114.460,319382,4162,1.576
12,Illinois,Midwest,39.844,-89.178,2149362,27821,1.343
13,Indiana,Midwest,39.837,-86.219,1246854,18386,1.606
14,Iowa,Midwest,42.030,-93.466,572985,7858,1.767
15,Kansas,Midwest,38.485,-98.085,520134,6970,1.692
16,Kentucky,Southeast,37.622,-85.200,856136,12118,1.668
17,Louisiana,Southeast,31.092,-91.824,828078,14986,2.036
18,Maine,Northeast,44.688,-69.524,146720,1531,1.047
19,Maryland,Northeast,39.015,-76.675,735723,11624,1.754
20,Massachusetts,Northeast,42.241,-71.651,1053962,16694,2.065
21,Michigan,Midwest,44.044,-85.182,1677250,28816,1.865
22,Minnesota,Midwest,45.552,-94.431,1021588,10516,1.130
23,Mississippi,Southeast,32.793,-89.646,543737,10450,2.219
24,Missouri,Midwest,38.451,-92.481,936626,15227,1.916
25,Montana,Rocky_Mountain,46.975,-109.700,197724,2906,2.039
26,Nebraska,Midwest,41.322,-99.039,335541,2230,0.884
27,Nevada,Rocky_Mountain,39.256,-117.564,484641,8419,1.919
28,New Hampshire,Northeast,43.479,-71.578,194894,1939,0.975
29,New Jersey,Northeast,40.286,-74.622,1593646,29053,1.760
30,New Mexico,Southwest,34.549,-105.887,344656,5855,2.173
31,New York,Northeast,42.544,-75.474,3517442,59208,1.293
32,North Carolina,Southeast,35.624,-79.501,1666852,19399,1.413
33,North Dakota,Midwest,47.394,-100.249,174516,2012,1.589
34,Ohio,Midwest,40.311,-82.835,2016095,32016,1.702
35,Oklahoma,Southwest,35.502,-97.251,696667,11550,1.844
36,Oregon,Pacific,44.492,-121.477,421263,5655,1.549
37,Pennsylvania,Northeast,40.818,-77.615,2059613,36714,1.989
38,Rhode Island,Northeast,41.655,-71.464,206152,3033,1.319
39,South Carolina,Southeast,33.957,-80.983,975320,14636,1.858
40,South Dakota,Midwest,44.273,-99.311,179204,2486,1.988
41,Tennessee,Southeast,35.885,-86.109,1387421,20373,1.777
42,Texas,Southwest,31.661,-98.653,4659874,75640,2.483
43,Utah,Rocky_Mountain,40.150,-111.537,469532,2459,0.616
44,Vermont,Northeast,44.159,-72.684,63734,471,0.655
45,Virginia,Southeast,37.566,-78.514,1118518,15587,1.794
46,Washington,Pacific,47.234,-120.719,847502,9849,1.345
47,West Virginia,Southeast,38.814,-80.617,328162,5336,1.655
48,Wisconsin,Midwest,44.395,-89.798,1120663,11173,1.170
49,Wyoming,Rocky_Mountain,43.087,-107.153,115638,1526,1.453

In [98]:
# Assuming result_df is a pandas DataFrame
results = states_df.to_dict(orient='records')

# Convert results to JSON string
results_json = json.dumps(results, indent=4)

# Define the output file path
output_file_path = 'Improved/improved_2022.json'

# Write the JSON string to the output file
with open(output_file_path, 'w') as output_file:
    output_file.write(results_json)