In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
from pymongo import MongoClient
from pprint import pprint
import json

Import the data provided in the `2022.json` file from your Terminal. Name the database `covid_2022` and the collection `nations`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with mongoimport --type json -d covid_2022 -c nations --drop --jsonArray 2022.json

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'covid_2021', 'covid_2022', 'local', 'met', 'uk_food']

In [3]:
# mongo.drop_database('covid_2021')
# mongo.list_database_names()

In [4]:
# assign the uk_food database to a variable name
db = mongo['covid_2022']

In [5]:
# review the collections in our database
print(db.list_collection_names())

['nations']

In [6]:
# assign the collection to a variable
nations = db['nations']

In [7]:
pprint(db.nations.find_one())

{'Active': None,
 'Admin2': '',
 'Case_Fatality_Ratio': '4.652545428096163',
 'Combined_Key': 'Afghanistan',
 'Confirmed': 158107,
 'Country_Region': 'Afghanistan',
 'Deaths': 7356,
 'FIPS': None,
 'Incident_Rate': '406.1488261213084',
 'Last_Update': '2022-01-02 04:20:52',
 'Lat': '33.93911',
 'Long_': '67.709953',
 'Province_State': '',
 'Recovered': None,
 '_id': ObjectId('64a206c68c92db14e7753cae')}

In [12]:
nations.update_many({}, [
    {
        '$set': {
            'Long_': {
                '$cond': [
                    { '$ne': ['$Long_', ''] },
                    { '$toDouble': '$Long_' },
                    None
                ]
            },
            'Lat': {
                '$cond': [
                    { '$ne': ['$Lat', ''] },
                    { '$toDouble': '$Lat' },
                    None
                ]
            },
            'Case_Fatality_Ratio': {
                '$cond': [
                    { '$ne': ['$Case_Fatality_Ratio', ''] },
                    { '$toDouble': '$Case_Fatality_Ratio' },
                    None
                ]
            }
        }
    }
])

In [13]:
pprint(db.nations.find_one())

{'Active': None,
 'Admin2': '',
 'Case_Fatality_Ratio': 4.652545428096163,
 'Combined_Key': 'Afghanistan',
 'Confirmed': 158107,
 'Country_Region': 'Afghanistan',
 'Deaths': 7356,
 'FIPS': None,
 'Incident_Rate': '406.1488261213084',
 'Last_Update': '2022-01-02 04:20:52',
 'Lat': 33.93911,
 'Long_': 67.709953,
 'Province_State': '',
 'Recovered': None,
 '_id': ObjectId('64a206c68c92db14e7753cae')}

In [14]:
# Find All USA
query = {'Country_Region': 'US'}
results = nations.find(query)
sort = [("Province_State", 1)]
limit = 5
results = list(nations.find(query).sort(sort).limit(limit))

pprint(results)

[{'Active': None,
  'Admin2': 'Bibb',
  'Case_Fatality_Ratio': 2.0957423339951466,
  'Combined_Key': 'Bibb, Alabama, US',
  'Confirmed': 4533,
  'Country_Region': 'US',
  'Deaths': 95,
  'FIPS': 1007,
  'Incident_Rate': '20242.029114941502',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 32.99642064,
  'Long_': -87.12511459999996,
  'Province_State': 'Alabama',
  'Recovered': None,
  '_id': ObjectId('64a206c68c92db14e7753f52')},
 {'Active': None,
  'Admin2': 'Blount',
  'Case_Fatality_Ratio': 1.7590618336886994,
  'Combined_Key': 'Blount, Alabama, US',
  'Confirmed': 11256,
  'Country_Region': 'US',
  'Deaths': 198,
  'FIPS': 1009,
  'Incident_Rate': '19465.292429011173',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 33.98210918,
  'Long_': -86.56790593,
  'Province_State': 'Alabama',
  'Recovered': None,
  '_id': ObjectId('64a206c68c92db14e7753f53')},
 {'Active': None,
  'Admin2': 'Autauga',
  'Case_Fatality_Ratio': 1.4521691777092032,
  'Combined_Key': 'Autauga, Alabama, US',
  'Confirmed': 11018,
  'Country_Region': 'US',
  'Deaths': 160,
  'FIPS': 1001,
  'Incident_Rate': '19721.13336555156',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 32.53952745,
  'Long_': -86.64408227,
  'Province_State': 'Alabama',
  'Recovered': None,
  '_id': ObjectId('64a206c68c92db14e7753f50')},
 {'Active': None,
  'Admin2': 'Baldwin',
  'Case_Fatality_Ratio': 1.4858059181679237,
  'Combined_Key': 'Baldwin, Alabama, US',
  'Confirmed': 39911,
  'Country_Region': 'US',
  'Deaths': 593,
  'FIPS': 1003,
  'Incident_Rate': '17878.548966555274',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 30.72774991,
  'Long_': -87.72207058,
  'Province_State': 'Alabama',
  'Recovered': None,
  '_id': ObjectId('64a206c68c92db14e7753f4f')},
 {'Active': None,
  'Admin2': 'Barbour',
  'Case_Fatality_Ratio': 2.098445595854922,
  'Combined_Key': 'Barbour, Alabama, US',
  'Confirmed': 3860,
  'Country_Region': 'US',
  'Deaths': 81,
  'FIPS': 1005,
  'Incident_Rate': '15636.393097302114',
  'Last_Update': '2022-01-02 04:20:52',
  'Lat': 31.868263,
  'Long_': -85.3871286,
  'Province_State': 'Alabama',
  'Recovered': None,
  '_id': ObjectId('64a206c68c92db14e7753f51')}]

In [16]:
#Inserting Regions 
query = {'Province_State': 'Alabama'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [17]:
#Inserting Regions 
query = {'Province_State': 'Louisiana'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [18]:
#Inserting Regions 
query = {'Province_State': 'Arkansas'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [19]:
#Inserting Regions 
query = {'Province_State': 'Mississippi'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [20]:
#Inserting Regions 
query = {'Province_State': 'Tennessee'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [21]:
#Inserting Regions 
query = {'Province_State': 'Florida'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [22]:
#Inserting Regions 
query = {'Province_State': 'Georgia'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [23]:
#Inserting Regions 
query = {'Province_State': 'Kentucky'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [24]:
#Inserting Regions 
query = {'Province_State': 'South Carolina'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [25]:
#Inserting Regions 
query = {'Province_State': 'North Carolina'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [26]:
#Inserting Regions 
query = {'Province_State': 'Virginia'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [27]:
#Inserting Regions 
query = {'Province_State': 'West Virginia'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [28]:
#Inserting Regions 
query = {'Province_State': 'Texas'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [29]:
#Inserting Regions 
query = {'Province_State': 'Oklahoma'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [30]:
#Inserting Regions 
query = {'Province_State': 'New Mexico'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [31]:
#Inserting Regions 
query = {'Province_State': 'Arizona'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [32]:
#Inserting Regions 
query = {'Province_State': 'California'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [33]:
#Inserting Regions 
query = {'Province_State': 'Washington'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [34]:
#Inserting Regions 
query = {'Province_State': 'Oregon'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [35]:
#Inserting Regions 
query = {'Province_State': 'Alaska'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [36]:
#Inserting Regions 
query = {'Province_State': 'Hawaii'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [37]:
#Inserting Regions 
query = {'Province_State': 'Nevada'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [38]:
#Inserting Regions 
query = {'Province_State': 'Idaho'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [39]:
#Inserting Regions 
query = {'Province_State': 'Utah'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [40]:
#Inserting Regions 
query = {'Province_State': 'Colorado'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [41]:
#Inserting Regions 
query = {'Province_State': 'Wyoming'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [42]:
#Inserting Regions 
query = {'Province_State': 'Montana'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [43]:
#Inserting Regions 
query = {'Province_State': 'North Dakota'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [44]:
#Inserting Regions 
query = {'Province_State': 'South Dakota'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [45]:
#Inserting Regions 
query = {'Province_State': 'Nebraska'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [46]:
#Inserting Regions 
query = {'Province_State': 'Kansas'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [47]:
#Inserting Regions 
query = {'Province_State': 'Minnesota'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [48]:
#Inserting Regions 
query = {'Province_State': 'Iowa'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [49]:
#Inserting Regions 
query = {'Province_State': 'Missouri'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [50]:
#Inserting Regions 
query = {'Province_State': 'Wisconsin'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [51]:
#Inserting Regions 
query = {'Province_State': 'Illinois'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [52]:
#Inserting Regions 
query = {'Province_State': 'Indiana'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [53]:
#Inserting Regions 
query = {'Province_State': 'Michigan'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [54]:
#Inserting Regions 
query = {'Province_State': 'Ohio'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [55]:
#Inserting Regions 
query = {'Province_State': 'Maryland'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [56]:
#Inserting Regions 
query = {'Province_State': 'Delaware'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [57]:
#Inserting Regions 
query = {'Province_State': 'Pennsylvania'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [58]:
#Inserting Regions 
query = {'Province_State': 'New Jersey'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [59]:
query = {'Province_State': 'New York'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [60]:
query = {'Province_State': 'Rhode Island'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [61]:
query = {'Province_State': 'Connecticut'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [62]:
query = {'Province_State': 'Massachusetts'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [63]:
query = {'Province_State': 'Vermont'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [64]:
query = {'Province_State': 'New Hampshire'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [65]:
query = {'Province_State': 'Maine'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [66]:
pipeline = [
    {
        '$match': {
            'Country_Region': 'US'
        }
    },
    {
        '$group': {
            '_id': {
                'State': '$Province_State',
                'Region': '$Region'
                
            },
            'average_lat': {
                '$avg': '$Lat'
            },
            'average_long': {
                '$avg': '$Long_'
            },
            'total_confirmed': {
                '$sum': '$Confirmed'
            },
            'total_deaths' : {
                '$sum': '$Deaths'
            },
            
            'average_case_fatality_ratio': {
                '$avg': '$Case_Fatality_Ratio'
            }
            }
        }
    
]

results = list(nations.aggregate(pipeline))

In [67]:
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

# Separate Region and State into separate columns
result_df[['State', 'Region']] = result_df['_id'].apply(pd.Series)
result_df.drop('_id', axis=1, inplace=True)

# Print the number of rows in the DataFrame
print("Rows in DataFrame:", len(result_df))

# Print the DataFrame
result_df.head(10)

Rows in DataFrame: 59

,average_lat,average_long,total_confirmed,total_deaths,average_case_fatality_ratio,State,Region
0,31.660643,-98.653069,4679048,75640,2.483075,Texas,Southwest
1,40.310670,-82.835408,2016095,32021,1.701523,Ohio,Midwest
2,46.974691,-109.700395,197724,2906,2.039084,Montana,Rocky_Mountain
3,47.393507,-100.249393,174516,2057,1.588716,North Dakota,Midwest
4,39.837353,-86.218568,1246854,19037,1.606078,Indiana,Midwest
5,43.478973,-71.577657,198667,1961,0.939436,New Hampshire,Northeast
6,43.086886,-107.153242,115638,1526,1.453349,Wyoming,Rocky_Mountain
7,39.014921,-76.675468,735723,11758,3.124875,Maryland,Northeast
8,44.043620,-85.181696,1710325,29020,1.835698,Michigan,Midwest
9,35.624210,-79.501099,1686667,19426,1.400348,North Carolina,Southeast

In [70]:
# Remove rows with NaNs
result_df.dropna(inplace=True)

# Print the number of rows in the DataFrame
print("Rows in DataFrame:", len(result_df))

# Round decimal columns to 2 decimal places
result_df = result_df.round(3)
new_column_order = ['State', 'Region', 'average_lat','average_long','total_confirmed','total_deaths','average_case_fatality_ratio']

result_df = result_df.reindex(columns=new_column_order)
# Print the DataFrame
result_df.head(10)

Rows in DataFrame: 50

,State,Region,average_lat,average_long,total_confirmed,total_deaths,average_case_fatality_ratio
0,Texas,Southwest,31.661,-98.653,4679048,75640,2.483
1,Ohio,Midwest,40.311,-82.835,2016095,32021,1.702
2,Montana,Rocky_Mountain,46.975,-109.700,197724,2906,2.039
3,North Dakota,Midwest,47.394,-100.249,174516,2057,1.589
4,Indiana,Midwest,39.837,-86.219,1246854,19037,1.606
5,New Hampshire,Northeast,43.479,-71.578,198667,1961,0.939
6,Wyoming,Rocky_Mountain,43.087,-107.153,115638,1526,1.453
7,Maryland,Northeast,39.015,-76.675,735723,11758,3.125
8,Michigan,Midwest,44.044,-85.182,1710325,29020,1.836
9,North Carolina,Southeast,35.624,-79.501,1686667,19426,1.400

In [73]:
result_df.rename(columns={'average_lat': 'lat'}, inplace=True)
result_df.rename(columns={'average_long': 'long'}, inplace=True)
result_df = result_df.sort_values(by='State')

result_df.head(10)

,State,Region,lat,long,total_confirmed,total_deaths,average_case_fatality_ratio
17,Alabama,Southeast,32.884,-86.710,896614,16455,2.213
18,Alaska,Pacific,60.348,-149.007,157169,978,0.526
28,Arizona,Southwest,33.676,-111.463,1389708,24354,2.103
16,Arkansas,Southeast,34.912,-92.434,570641,9180,1.957
24,California,Pacific,37.844,-120.729,5519702,76443,1.119
51,Colorado,Rocky_Mountain,38.935,-105.486,1004704,10815,1.352
27,Connecticut,Northeast,41.614,-72.657,510188,9160,1.536
10,Delaware,Northeast,39.109,-75.533,183880,2286,1.008
36,Florida,Southeast,28.941,-82.701,4209927,62504,13.735
55,Georgia,Southeast,32.809,-83.577,1839879,31443,2.464

In [74]:
# Assuming result_df is a pandas DataFrame
results = result_df.to_dict(orient='records')

# Convert results to JSON string
results_json = json.dumps(results, indent=4)

# Define the output file path
output_file_path = 'Clean/clean_2022.json'

# Write the JSON string to the output file
with open(output_file_path, 'w') as output_file:
    output_file.write(results_json)