In [4]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
from pymongo import MongoClient
from pprint import pprint
import json

Import the data provided in the `2021.json` file from your Terminal. Name the database `covid_2021` and the collection `nations`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with mongoimport --type json -d covid_2021 -c nations --drop --jsonArray 2021.json

In [5]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'covid_2021', 'covid_2022', 'local', 'met', 'uk_food']

In [6]:
# mongo.drop_database('covid_2021')
# mongo.list_database_names()

In [7]:
# assign the uk_food database to a variable name
db = mongo['covid_2021']

In [8]:
# review the collections in our database
print(db.list_collection_names())

['nations']

In [9]:
# assign the collection to a variable
nations = db['nations']

In [10]:
pprint(db.nations.find_one())

{'Active': 8585,
 'Admin2': '',
 'Case_Fatality_Ratio': 4.191343095995277,
 'Combined_Key': 'Afghanistan',
 'Confirmed': 52513,
 'Country_Region': 'Afghanistan',
 'Deaths': 2201,
 'FIPS': None,
 'Incident_Rate': '134.89657830525067',
 'Last_Update': '2021-01-02 05:22:33',
 'Lat': 33.93911,
 'Long_': 67.709953,
 'Province_State': '',
 'Recovered': 41727,
 '_id': ObjectId('64a1c449fa9bae443655f8f9')}

In [11]:
nations.update_many({}, [
    {
        '$set': {
            'Long_': {
                '$cond': [
                    { '$ne': ['$Long_', ''] },
                    { '$toDouble': '$Long_' },
                    None
                ]
            },
            'Lat': {
                '$cond': [
                    { '$ne': ['$Lat', ''] },
                    { '$toDouble': '$Lat' },
                    None
                ]
            },
            'Case_Fatality_Ratio': {
                '$cond': [
                    { '$ne': ['$Case_Fatality_Ratio', ''] },
                    { '$toDouble': '$Case_Fatality_Ratio' },
                    None
                ]
            }
        }
    }
])

In [12]:
pprint(db.nations.find_one())

{'Active': 8585,
 'Admin2': '',
 'Case_Fatality_Ratio': 4.191343095995277,
 'Combined_Key': 'Afghanistan',
 'Confirmed': 52513,
 'Country_Region': 'Afghanistan',
 'Deaths': 2201,
 'FIPS': None,
 'Incident_Rate': '134.89657830525067',
 'Last_Update': '2021-01-02 05:22:33',
 'Lat': 33.93911,
 'Long_': 67.709953,
 'Province_State': '',
 'Recovered': 41727,
 '_id': ObjectId('64a1c449fa9bae443655f8f9')}

In [13]:
# Find All USA
query = {'Country_Region': 'US'}
results = nations.find(query)
sort = [("Province_State", 1)]
limit = 5
results = list(nations.find(query).sort(sort).limit(limit))

pprint(results)

[{'Active': 1808,
  'Admin2': 'Bibb',
  'Case_Fatality_Ratio': 2.481121898597627,
  'Combined_Key': 'Bibb, Alabama, US',
  'Confirmed': 1854,
  'Country_Region': 'US',
  'Deaths': 46,
  'FIPS': 1007,
  'Incident_Rate': '8279.003304456552',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 32.99642064,
  'Long_': -87.12511459999997,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb84')},
 {'Active': 866,
  'Admin2': 'Bullock',
  'Case_Fatality_Ratio': 2.4774774774774775,
  'Combined_Key': 'Bullock, Alabama, US',
  'Confirmed': 888,
  'Country_Region': 'US',
  'Deaths': 22,
  'FIPS': 1011,
  'Incident_Rate': '8791.208791208792',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 32.10030533,
  'Long_': -85.71265535,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb85')},
 {'Active': 4189,
  'Admin2': 'Autauga',
  'Case_Fatality_Ratio': 1.179523472517103,
  'Combined_Key': 'Autauga, Alabama, US',
  'Confirmed': 4239,
  'Country_Region': 'US',
  'Deaths': 50,
  'FIPS': 1001,
  'Incident_Rate': '7587.3919347043975',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 32.53952745,
  'Long_': -86.64408227,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb82')},
 {'Active': 13654,
  'Admin2': 'Baldwin',
  'Case_Fatality_Ratio': 1.2226000144686393,
  'Combined_Key': 'Baldwin, Alabama, US',
  'Confirmed': 13823,
  'Country_Region': 'US',
  'Deaths': 169,
  'FIPS': 1003,
  'Incident_Rate': '6192.157108684161',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 30.72774991,
  'Long_': -87.72207058,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb81')},
 {'Active': 4630,
  'Admin2': 'Blount',
  'Case_Fatality_Ratio': 1.3424248881312593,
  'Combined_Key': 'Blount, Alabama, US',
  'Confirmed': 4693,
  'Country_Region': 'US',
  'Deaths': 63,
  'FIPS': 1009,
  'Incident_Rate': '8115.72648981427',
  'Last_Update': '2021-01-02 05:22:33',
  'Lat': 33.98210918,
  'Long_': -86.56790593,
  'Province_State': 'Alabama',
  'Recovered': 0,
  'Region': 'Southeast',
  '_id': ObjectId('64a1c449fa9bae443655fb83')}]

In [14]:
#Inserting Regions 
query = {'Province_State': 'Alabama'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [15]:
#Inserting Regions 
query = {'Province_State': 'Louisiana'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [16]:
#Inserting Regions 
query = {'Province_State': 'Arkansas'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [17]:
#Inserting Regions 
query = {'Province_State': 'Mississippi'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [18]:
#Inserting Regions 
query = {'Province_State': 'Tennessee'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [19]:
#Inserting Regions 
query = {'Province_State': 'Florida'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [20]:
#Inserting Regions 
query = {'Province_State': 'Georgia'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [21]:
#Inserting Regions 
query = {'Province_State': 'Kentucky'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [22]:
#Inserting Regions 
query = {'Province_State': 'South Carolina'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [23]:
#Inserting Regions 
query = {'Province_State': 'North Carolina'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [24]:
#Inserting Regions 
query = {'Province_State': 'Virginia'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [25]:
#Inserting Regions 
query = {'Province_State': 'West Virginia'}
update = {'$set': {'Region': 'Southeast'}}

nations.update_many(query, update)

In [26]:
#Inserting Regions 
query = {'Province_State': 'Texas'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [27]:
#Inserting Regions 
query = {'Province_State': 'Oklahoma'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [28]:
#Inserting Regions 
query = {'Province_State': 'New Mexico'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [29]:
#Inserting Regions 
query = {'Province_State': 'Arizona'}
update = {'$set': {'Region': 'Southwest'}}

nations.update_many(query, update)

In [30]:
#Inserting Regions 
query = {'Province_State': 'California'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [31]:
#Inserting Regions 
query = {'Province_State': 'Washington'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [32]:
#Inserting Regions 
query = {'Province_State': 'Oregon'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [33]:
#Inserting Regions 
query = {'Province_State': 'Alaska'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [34]:
#Inserting Regions 
query = {'Province_State': 'Hawaii'}
update = {'$set': {'Region': 'Pacific'}}

nations.update_many(query, update)

In [35]:
#Inserting Regions 
query = {'Province_State': 'Nevada'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [36]:
#Inserting Regions 
query = {'Province_State': 'Idaho'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [37]:
#Inserting Regions 
query = {'Province_State': 'Utah'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [38]:
#Inserting Regions 
query = {'Province_State': 'Colorado'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [39]:
#Inserting Regions 
query = {'Province_State': 'Wyoming'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [40]:
#Inserting Regions 
query = {'Province_State': 'Montana'}
update = {'$set': {'Region': 'Rocky_Mountain'}}

nations.update_many(query, update)

In [41]:
#Inserting Regions 
query = {'Province_State': 'North Dakota'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [42]:
#Inserting Regions 
query = {'Province_State': 'South Dakota'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [43]:
#Inserting Regions 
query = {'Province_State': 'Nebraska'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [44]:
#Inserting Regions 
query = {'Province_State': 'Kansas'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [45]:
#Inserting Regions 
query = {'Province_State': 'Minnesota'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [46]:
#Inserting Regions 
query = {'Province_State': 'Iowa'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [47]:
#Inserting Regions 
query = {'Province_State': 'Missouri'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [48]:
#Inserting Regions 
query = {'Province_State': 'Wisconsin'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [49]:
#Inserting Regions 
query = {'Province_State': 'Illinois'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [50]:
#Inserting Regions 
query = {'Province_State': 'Indiana'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [51]:
#Inserting Regions 
query = {'Province_State': 'Michigan'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [52]:
#Inserting Regions 
query = {'Province_State': 'Ohio'}
update = {'$set': {'Region': 'Midwest'}}

nations.update_many(query, update)

In [53]:
#Inserting Regions 
query = {'Province_State': 'Maryland'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [54]:
#Inserting Regions 
query = {'Province_State': 'Delaware'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [55]:
#Inserting Regions 
query = {'Province_State': 'Pennsylvania'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [56]:
#Inserting Regions 
query = {'Province_State': 'New Jersey'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [57]:
query = {'Province_State': 'New York'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [58]:
query = {'Province_State': 'Rhode Island'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [59]:
query = {'Province_State': 'Connecticut'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [60]:
query = {'Province_State': 'Massachusetts'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [61]:
query = {'Province_State': 'Vermont'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [62]:
query = {'Province_State': 'New Hampshire'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [63]:
query = {'Province_State': 'Maine'}
update = {'$set': {'Region': 'Northeast'}}

nations.update_many(query, update)

In [64]:
pipeline = [
    {
        '$match': {
            'Country_Region': 'US'
        }
    },
    {
        '$group': {
            '_id': {
                'State': '$Province_State',
                'Region': '$Region'
                
            },
            'average_lat': {
                '$avg': '$Lat'
            },
            'average_long': {
                '$avg': '$Long_'
            },
            'total_confirmed': {
                '$sum': '$Confirmed'
            },
            'total_deaths' : {
                '$sum': '$Deaths'
            },
            
            'average_case_fatality_ratio': {
                '$avg': '$Case_Fatality_Ratio'
            }
            }
        }
    
]

results = list(nations.aggregate(pipeline))

In [65]:
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

# Separate Region and State into separate columns
result_df[['State', 'Region']] = result_df['_id'].apply(pd.Series)
result_df.drop('_id', axis=1, inplace=True)

# Print the number of rows in the DataFrame
print("Rows in DataFrame:", len(result_df))

# Print the DataFrame
result_df.head(10)

Rows in DataFrame: 58

,average_lat,average_long,total_confirmed,total_deaths,average_case_fatality_ratio,State,Region
0,35.501914,-97.251400,291209,2489,0.929672,Oklahoma,Southwest
1,NaN,NaN,103,3,2.912621,Grand Princess,NaN
2,41.321795,-99.039012,167716,1668,1.396153,Nebraska,Midwest
3,33.957472,-80.983400,307507,5296,2.185987,South Carolina,Southeast
4,NaN,NaN,49,0,0.000000,Diamond Princess,NaN
5,32.792727,-89.645726,218386,4816,2.508942,Mississippi,Southeast
6,13.444300,144.793700,7326,122,1.665302,Guam,NaN
7,37.566150,-78.513712,354766,5081,1.663124,Virginia,Southeast
8,44.159496,-72.684381,7412,136,1.170938,Vermont,Northeast
9,28.940755,-82.700744,1323315,21673,1.803136,Florida,Southeast

In [66]:
# Remove rows with NaNs
result_df.dropna(inplace=True)

# Print the number of rows in the DataFrame
print("Rows in DataFrame:", len(result_df))

# Round decimal columns to 2 decimal places
result_df = result_df.round(3)
new_column_order = ['State', 'Region', 'average_lat','average_long','total_confirmed','total_deaths','average_case_fatality_ratio']

result_df = result_df.reindex(columns=new_column_order)
# Print the DataFrame
result_df.head(10)
# Print the DataFrame

Rows in DataFrame: 50

,State,Region,average_lat,average_long,total_confirmed,total_deaths,average_case_fatality_ratio
0,Oklahoma,Southwest,35.502,-97.251,291209,2489,0.930
2,Nebraska,Midwest,41.322,-99.039,167716,1668,1.396
3,South Carolina,Southeast,33.957,-80.983,307507,5296,2.186
5,Mississippi,Southeast,32.793,-89.646,218386,4816,2.509
7,Virginia,Southeast,37.566,-78.514,354766,5081,1.663
8,Vermont,Northeast,44.159,-72.684,7412,136,1.171
9,Florida,Southeast,28.941,-82.701,1323315,21673,1.803
10,New Mexico,Southwest,34.549,-105.887,144142,2502,2.069
11,Oregon,Pacific,44.492,-121.477,113909,1477,1.521
12,Kentucky,Southeast,37.622,-85.200,265261,2623,1.131

In [71]:
result_df.rename(columns={'average_lat': 'lat'}, inplace=True)
result_df.rename(columns={'average_long': 'long'}, inplace=True)
result_df = result_df.sort_values(by='State')
result_df.head(10)

,State,Region,lat,long,total_confirmed,total_deaths,average_case_fatality_ratio
43,Alabama,Southeast,32.884,-86.710,365747,4872,1.678
49,Alaska,Pacific,60.348,-149.007,47019,206,0.502
54,Arizona,Southwest,33.676,-111.463,530267,9015,2.024
42,Arkansas,Southeast,34.912,-92.434,229442,3711,1.909
47,California,Pacific,37.844,-120.729,2434974,26298,0.859
13,Colorado,Rocky_Mountain,38.935,-105.486,362438,5435,1.442
57,Connecticut,Northeast,41.614,-72.657,185708,5995,2.547
29,Delaware,Northeast,39.109,-75.533,58064,1065,1.475
9,Florida,Southeast,28.941,-82.701,1323315,21673,1.803
22,Georgia,Southeast,32.809,-83.577,677589,10958,2.287

In [72]:
# Assuming result_df is a pandas DataFrame
results = result_df.to_dict(orient='records')

# Convert results to JSON string
results_json = json.dumps(results, indent=4)

# Define the output file path
output_file_path = 'Clean/clean_2021.json'

# Write the JSON string to the output file
with open(output_file_path, 'w') as output_file:
    output_file.write(results_json)